In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

In [2]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.kayak.co.in/flights/BLR-DEL/2021-11-26?sort=duration_a"
driver.get(url)
time.sleep(6)

In [13]:
#name
name = []

nam = driver.find_elements_by_xpath("//span[@class= 'codeshares-airline-names']")
for i in nam:
    if i.text is None:
        name.append('NAN')
    else:
        name.append(i.text)
name

['Air India',
 'Air India',
 'Vistara',
 'SpiceJet',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'Air India',
 'SpiceJet',
 'SpiceJet',
 'AirAsia India',
 'AirAsia India',
 'Vistara',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'AirAsia India',
 'GoFirst',
 'GoFirst',
 'IndiGo',
 'IndiGo',
 'Air India',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'GoFirst',
 'GoFirst',
 'IndiGo',
 'GoFirst',
 'GoFirst',
 'Vistara, IndiGo',
 'IndiGo',
 'AirAsia India',
 'Vistara',
 'Vistara',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'AirAsia India',
 'Air India',
 'IndiGo, Vistara',
 'AirAsia India',
 'SpiceJet',
 'Vistara',
 'IndiGo, Vistara',
 'IndiGo',
 'Vistara',
 'IndiGo, Vistara',
 'Vistara',
 'GoFirst',
 'IndiGo',
 'Vistara',
 'Vistara',
 'IndiGo, Vistara',
 'AirAsia India',
 'IndiGo',
 'IndiGo, Vistara',
 'GoFirst',
 'GoFirst',
 'AirAsia India',
 'GoFirst',
 'SpiceJet',
 'GoFirst',
 'Vistara',
 'IndiGo, Vistara',
 'IndiGo',
 'SpiceJet',
 'AirAsia India',
 'IndiGo',
 'AirAsia India',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'AirAsia India',
 'SpiceJet, Alaska Seaplanes',
 'GoFirst',
 'IndiGo',
 'Vistara',
 'AirAsia India',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'AirAsia India',
 'AirAsia India',
 'Vistara',
 'Vistara',
 'SpiceJet',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'SpiceJet',
 'AirAsia India',
 'AirAsia India',
 'GoFirst',
 'AirAsia India',
 'IndiGo',
 'GoFirst',
 'IndiGo, Vistara',
 'AirAsia India',
 'AirAsia India',
 'IndiGo',
 'AirAsia India',
 'IndiGo',
 'IndiGo',
 'AirAsia India',
 'AirAsia India',
 'AirAsia India',
 'IndiGo',
 'Vistara',
 'IndiGo',
 'SpiceJet',
 'SpiceJet',
 'AirAsia India',
 'AirAsia India',
 'Vistara',
 'GoFirst',
 'Vistara',
 'Vistara',
 'GoFirst',
 'AirAsia India',
 'GoFirst',
 'AirAsia India',
 'AirAsia India',
 'AirAsia India',
 'Vistara',
 'AirAsia India',
 'Vistara',
 'GoFirst',
 'GoFirst',
 'GoFirst']

In [3]:
dep_time = []

dep = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div/span[1]/span")
for i in dep:
    if i.text is None:
        dep_time.append('NAN')
    else:
        dep_time.append(i.text)
        
arr_time = []

arr = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div/span[3]/span")
for i in arr:
    if i.text is None:
        arr_time.append('NAN')
    else:
        arr_time.append(i.text)
    
source = []

dep = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div[2]/div[1]/span")
for i in dep:
    if i.text is None:
        source.append('NAN')
    else:
        source.append(i.text)
        
destination = []

ar = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div[2]/div[2]/span")
for i in ar:
    if i.text is None:
        destination.append('NAN')
    else:
        destination.append(i.text)
        
stops = []

st = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[3]/div[1]/span[1]")
for i in st:
    if i.text is None:
        stops.append('NAN')
    else:
        stops.append(i.text)
        
duration = []

du = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[4]/div[1]")
for i in du:
    if i.text is None:
        duration.append('NAN')
    else:
        duration.append(i.text)
        
price = []

pri = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[2]/div/div[2]/div[1]/div/div/div/a/span/span")
for i in pri:
    if i.text is None:
        price.append('NAN')
    else:
        price.append(i.text)

In [14]:
print(len(name),len(dep_time),len(arr_time),len(source),len(destination),len(duration),len(stops),len(price))

142 142 142 142 142 142 142 142

In [16]:
Flight = pd.DataFrame({'AirlineName': name,'Stops':stops, 'Duration':duration,'Source': source,'Destination':destination, 'DepartureTime':dep_time, 'ArrivalTime': arr_time,'Price': price.replace(',', '')})
Flight

,AirlineName,Stops,Duration,Source,Destination,DepartureTime,ArrivalTime,Price
0,Air India,direct,2h 30m,BLR Bengaluru Intl,DEL Indira Gandhi Intl,13:20,15:50,"₹ 7,889"
1,Air India,direct,2h 35m,BLR Bengaluru Intl,DEL Indira Gandhi Intl,10:25,13:00,"₹ 6,936"
2,Vistara,direct,2h 35m,BLR Bengaluru Intl,DEL Indira Gandhi Intl,21:10,23:45,"₹ 7,484"
3,SpiceJet,direct,2h 40m,BLR Bengaluru Intl,DEL Indira Gandhi Intl,21:55,00:35,"₹ 7,472"
4,Vistara,direct,2h 40m,BLR Bengaluru Intl,DEL Indira Gandhi Intl,17:50,20:30,"₹ 7,484"
...,...,...,...,...,...,...,...,...
137,AirAsia India,1 stop,11h 10m,BLR Bengaluru Intl,DEL Indira Gandhi Intl,22:55,10:05,"₹ 7,466"
138,Vistara,1 stop,11h 10m,BLR Bengaluru Intl,DEL Indira Gandhi Intl,08:30,19:40,"₹ 10,739"
139,GoFirst,1 stop,11h 15m,BLR Bengaluru Intl,DEL Indira Gandhi Intl,06:30,17:45,"₹ 5,981"
140,GoFirst,2 stops,11h 15m,BLR Bengaluru Intl,DEL Indira Gandhi Intl,06:30,17:45,"₹ 5,982"
141,GoFirst,1 stop,12h 00m,BLR Bengaluru Intl,DEL Indira Gandhi Intl,08:10,20:10,"₹ 5,981"

In [17]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.kayak.co.in/flights/BLR-LHR,GVA/2021-11-26?sort=bestflight_a"
driver.get(url)
time.sleep(6)

In [18]:
#name
name = []

nam = driver.find_elements_by_xpath("//span[@class= 'codeshares-airline-names']")
for i in nam:
    if i.text is None:
        name.append('NAN')
    else:
        name.append(i.text)
        
dep_time = []

dep = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div/span[1]/span")
for i in dep:
    if i.text is None:
        dep_time.append('NAN')
    else:
        dep_time.append(i.text)
        
arr_time = []

arr = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div/span[3]/span")
for i in arr:
    if i.text is None:
        arr_time.append('NAN')
    else:
        arr_time.append(i.text)
    
source = []

dep = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div[2]/div[1]/span")
for i in dep:
    if i.text is None:
        source.append('NAN')
    else:
        source.append(i.text)
        
destination = []

ar = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div[2]/div[2]/span")
for i in ar:
    if i.text is None:
        destination.append('NAN')
    else:
        destination.append(i.text)
        
stops = []

st = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[3]/div[1]/span[1]")
for i in st:
    if i.text is None:
        stops.append('NAN')
    else:
        stops.append(i.text)
        
duration = []

du = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[4]/div[1]")
for i in du:
    if i.text is None:
        duration.append('NAN')
    else:
        duration.append(i.text)
        
price = []

pri = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[2]/div/div[2]/div[1]/div/div/div/a/span/span")
for i in pri:
    if i.text is None:
        price.append('NAN')
    else:
        price.append(i.text)

In [19]:
print(len(name),len(dep_time),len(arr_time),len(source),len(destination),len(duration),len(stops),len(price))

259 259 259 259 259 259 259 259

In [20]:
Flight1 = pd.DataFrame({'AirlineName': name,'Stops':stops, 'Duration':duration,'Source': source,'Destination':destination, 'DepartureTime':dep_time, 'ArrivalTime': arr_time,'Price': price})
Flight1

,AirlineName,Stops,Duration,Source,Destination,DepartureTime,ArrivalTime,Price
0,British Airways,direct,11h 05m,BLR Bengaluru Intl,LHR Heathrow,07:30,13:05,"₹ 139,966"
1,"IndiGo, SriLankan Airlines",3 stops,52h 15m,BLR Bengaluru Intl,LHR Heathrow,17:00,15:45,"₹ 35,451"
2,Etihad Airways,1 stop,14h 00m,BLR Bengaluru Intl,LHR Heathrow,02:15,10:45,"₹ 71,354"
3,Air India,1 stop,21h 50m,BLR Bengaluru Intl,LHR Heathrow,19:10,11:30,"₹ 77,140"
4,Etihad Airways,1 stop,14h 30m,BLR Bengaluru Intl,GVA Geneve-Cointrin,02:15,12:15,"₹ 86,856"
...,...,...,...,...,...,...,...,...
254,Lufthansa,2 stops,36h 10m,BLR Bengaluru Intl,LHR Heathrow,03:35,10:15,"₹ 739,842"
255,United Airlines,2 stops,41h 15m,BLR Bengaluru Intl,LHR Heathrow,19:40,07:25,"₹ 782,435"
256,United Airlines,2 stops,44h 05m,BLR Bengaluru Intl,LHR Heathrow,19:40,10:15,"₹ 782,435"
257,United Airlines,2 stops,40h 25m,BLR Bengaluru Intl,GVA Geneve-Cointrin,19:40,07:35,"₹ 807,237"
258,"Air India, Air France",2 stops,30h 20m,BLR Bengaluru Intl,GVA Geneve-Cointrin,17:50,19:40,"₹ 847,551"

In [21]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.kayak.co.in/flights/LHR,GVA-BLR,MAA/2021-11-26?sort=price_a"
driver.get(url)
time.sleep(6)

In [22]:
#name
name = []

nam = driver.find_elements_by_xpath("//span[@class= 'codeshares-airline-names']")
for i in nam:
    if i.text is None:
        name.append('NAN')
    else:
        name.append(i.text)
        
dep_time = []

dep = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div/span[1]/span")
for i in dep:
    if i.text is None:
        dep_time.append('NAN')
    else:
        dep_time.append(i.text)
        
arr_time = []

arr = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div/span[3]/span")
for i in arr:
    if i.text is None:
        arr_time.append('NAN')
    else:
        arr_time.append(i.text)
    
source = []

dep = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div[2]/div[1]/span")
for i in dep:
    if i.text is None:
        source.append('NAN')
    else:
        source.append(i.text)
        
destination = []

ar = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div[2]/div[2]/span")
for i in ar:
    if i.text is None:
        destination.append('NAN')
    else:
        destination.append(i.text)
        
stops = []

st = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[3]/div[1]/span[1]")
for i in st:
    if i.text is None:
        stops.append('NAN')
    else:
        stops.append(i.text)
        
duration = []

du = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[4]/div[1]")
for i in du:
    if i.text is None:
        duration.append('NAN')
    else:
        duration.append(i.text)
        
price = []

pri = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[2]/div/div[2]/div[1]/div/div/div/a/span/span")
for i in pri:
    if i.text is None:
        price.append('NAN')
    else:
        price.append(i.text)

In [23]:
print(len(name),len(dep_time),len(arr_time),len(source),len(destination),len(duration),len(stops),len(price))

294 294 294 294 294 294 294 294

In [24]:
Flight2 = pd.DataFrame({'AirlineName': name,'Stops':stops, 'Duration':duration,'Source': source,'Destination':destination, 'DepartureTime':dep_time, 'ArrivalTime': arr_time,'Price': price})
Flight2

,AirlineName,Stops,Duration,Source,Destination,DepartureTime,ArrivalTime,Price
0,Multiple Airlines,3 stops,42h 40m,GVA Geneve-Cointrin,BLR Bengaluru Intl,21:15,20:25,"₹ 28,967"
1,"Pegasus Airlines, IndiGo",2 stops,28h 45m,GVA Geneve-Cointrin,MAA Chennai,14:20,23:35,"₹ 29,919"
2,"Pegasus Airlines, IndiGo",3 stops,35h 35m,GVA Geneve-Cointrin,BLR Bengaluru Intl,14:20,06:25,"₹ 30,146"
3,"Pegasus Airlines, IndiGo",3 stops,25h 25m,GVA Geneve-Cointrin,MAA Chennai,14:20,20:15,"₹ 31,968"
4,"Pegasus Airlines, IndiGo",3 stops,27h 35m,GVA Geneve-Cointrin,BLR Bengaluru Intl,14:20,22:25,"₹ 32,257"
...,...,...,...,...,...,...,...,...
289,Iberia,2 stops,30h 30m,GVA Geneve-Cointrin,BLR Bengaluru Intl,18:25,05:25,"₹ 526,778"
290,"SWISS, Emirates",2 stops,19h 03m,GVA Genève,MAA Chennai,08:42,08:15,"₹ 537,979"
291,"Emirates, flydubai",1 stop,34h 50m,LHR Heathrow,BLR Bengaluru Intl,20:20,12:40,"₹ 860,968"
292,United Airlines,2 stops,51h 45m,LHR Heathrow,BLR Bengaluru Intl,10:00,19:15,"₹ 1,094,212"
293,United Airlines,2 stops,55h 50m,LHR Heathrow,BLR Bengaluru Intl,10:00,23:20,"₹ 1,094,212"

In [37]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.kayak.co.in/flights/DEL,BOM-CCU,CJB/2021-11-26?sort=price_a"
driver.get(url)
time.sleep(6)

In [38]:
#name
name = []

nam = driver.find_elements_by_xpath("//span[@class= 'codeshares-airline-names']")
for i in nam:
    if i.text is None:
        name.append('NAN')
    else:
        name.append(i.text)
        
dep_time = []

dep = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div/span[1]/span")
for i in dep:
    if i.text is None:
        dep_time.append('NAN')
    else:
        dep_time.append(i.text)
        
arr_time = []

arr = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div/span[3]/span")
for i in arr:
    if i.text is None:
        arr_time.append('NAN')
    else:
        arr_time.append(i.text)
    
source = []

dep = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div[2]/div[1]/span")
for i in dep:
    if i.text is None:
        source.append('NAN')
    else:
        source.append(i.text)
        
destination = []

ar = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div[2]/div[2]/span")
for i in ar:
    if i.text is None:
        destination.append('NAN')
    else:
        destination.append(i.text)
        
stops = []

st = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[3]/div[1]/span[1]")
for i in st:
    if i.text is None:
        stops.append('NAN')
    else:
        stops.append(i.text)
        
duration = []

du = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[4]/div[1]")
for i in du:
    if i.text is None:
        duration.append('NAN')
    else:
        duration.append(i.text)
        
price = []

pri = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[2]/div/div[2]/div[1]/div/div/div/a/span/span")
for i in pri:
    if i.text is None:
        price.append('NAN')
    else:
        price.append(i.text)

In [39]:
print(len(name),len(dep_time),len(arr_time),len(source),len(destination),len(duration),len(stops),len(price))

388 388 388 388 388 388 388 388

In [40]:
Flight3 = pd.DataFrame({'AirlineName': name,'Stops':stops, 'Duration':duration,'Source': source,'Destination':destination, 'DepartureTime':dep_time, 'ArrivalTime': arr_time,'Price': price})
Flight3

,AirlineName,Stops,Duration,Source,Destination,DepartureTime,ArrivalTime,Price
0,Air India,direct,3h 05m,BOM Chhatrapati Shivaji Intl,CJB Peelamedu,10:25,13:30,"₹ 4,843"
1,GoFirst,direct,1h 50m,BOM Chhatrapati Shivaji Intl,CJB Peelamedu,13:10,15:00,"₹ 5,086"
2,IndiGo,direct,1h 45m,BOM Chhatrapati Shivaji Intl,CJB Peelamedu,09:15,11:00,"₹ 5,102"
3,IndiGo,1 stop,3h 55m,BOM Chhatrapati Shivaji Intl,CJB Peelamedu,18:30,22:25,"₹ 5,102"
4,IndiGo,1 stop,4h 50m,BOM Chhatrapati Shivaji Intl,CJB Peelamedu,15:15,20:05,"₹ 5,102"
...,...,...,...,...,...,...,...,...
383,"SpiceJet, Alaska Seaplanes",2 stops,36h 15m,BOM Chhatrapati Shivaji Intl,CCU Netaji S. Chandra,07:20,19:35,"₹ 57,008"
384,SpiceJet,2 stops,36h 15m,BOM Chhatrapati Shivaji Intl,CCU Netaji S. Chandra,07:20,19:35,"₹ 57,008"
385,SpiceJet,2 stops,11h 10m,BOM Chhatrapati Shivaji Intl,CCU Netaji S. Chandra,07:20,18:30,"₹ 62,178"
386,SpiceJet,2 stops,12h 10m,DEL Indira Gandhi Intl,CCU Netaji S. Chandra,06:20,18:30,"₹ 64,065"
387,"SpiceJet, Alaska Seaplanes",2 stops,21h 50m,BOM Chhatrapati Shivaji Intl,CCU Netaji S. Chandra,11:15,09:05,"₹ 79,170"

In [29]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.kayak.co.in/flights/JAI,YTO,DEL-DEL,DRT,CCU/2021-11-26?sort=price_a"
driver.get(url)
time.sleep(6)

In [30]:
#name
name = []

nam = driver.find_elements_by_xpath("//span[@class= 'codeshares-airline-names']")
for i in nam:
    if i.text is None:
        name.append('NAN')
    else:
        name.append(i.text)
        
dep_time = []

dep = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div/span[1]/span")
for i in dep:
    if i.text is None:
        dep_time.append('NAN')
    else:
        dep_time.append(i.text)
        
arr_time = []

arr = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div/span[3]/span")
for i in arr:
    if i.text is None:
        arr_time.append('NAN')
    else:
        arr_time.append(i.text)
    
source = []

dep = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div[2]/div[1]/span")
for i in dep:
    if i.text is None:
        source.append('NAN')
    else:
        source.append(i.text)
        
destination = []

ar = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div[2]/div[2]/span")
for i in ar:
    if i.text is None:
        destination.append('NAN')
    else:
        destination.append(i.text)
        
stops = []

st = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[3]/div[1]/span[1]")
for i in st:
    if i.text is None:
        stops.append('NAN')
    else:
        stops.append(i.text)
        
duration = []

du = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[4]/div[1]")
for i in du:
    if i.text is None:
        duration.append('NAN')
    else:
        duration.append(i.text)
        
price = []

pri = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[2]/div/div[2]/div[1]/div/div/div/a/span/span")
for i in pri:
    if i.text is None:
        price.append('NAN')
    else:
        price.append(i.text)

In [32]:
print(len(name),len(dep_time),len(arr_time),len(source),len(destination),len(duration),len(stops),len(price))

380 380 380 380 380 380 380 380

In [33]:
Flight4 = pd.DataFrame({'AirlineName': name,'Stops':stops, 'Duration':duration,'Source': source,'Destination':destination, 'DepartureTime':dep_time, 'ArrivalTime': arr_time,'Price': price})
Flight4

,AirlineName,Stops,Duration,Source,Destination,DepartureTime,ArrivalTime,Price
0,SpiceJet,1 stop,25h 20m,DEL Indira Gandhi Intl,CCU Netaji S. Chandra,15:05,16:25,"₹ 5,414"
1,SpiceJet,direct,2h 05m,DEL Indira Gandhi Intl,CCU Netaji S. Chandra,07:00,09:05,"₹ 5,898"
2,SpiceJet,direct,2h 10m,DEL Indira Gandhi Intl,CCU Netaji S. Chandra,20:50,23:00,"₹ 5,898"
3,AirAsia India,1 stop,5h 40m,DEL Indira Gandhi Intl,CCU Netaji S. Chandra,06:20,12:00,"₹ 5,933"
4,AirAsia India,1 stop,6h 50m,DEL Indira Gandhi Intl,CCU Netaji S. Chandra,18:35,01:25,"₹ 5,933"
...,...,...,...,...,...,...,...,...
375,United Airlines,2 stops,35h 05m,YYZ Pearson Intl,CCU Netaji S. Chandra,11:00,08:35,"₹ 504,708"
376,United Airlines,2 stops,38h 00m,YYZ Pearson Intl,CCU Netaji S. Chandra,08:05,08:35,"₹ 504,708"
377,United Airlines,2 stops,38h 05m,YYZ Pearson Intl,CCU Netaji S. Chandra,08:00,08:35,"₹ 504,708"
378,United Airlines,2 stops,31h 05m,YYZ Pearson Intl,CCU Netaji S. Chandra,15:00,08:35,"₹ 851,693"
379,United Airlines,2 stops,31h 45m,YYZ Pearson Intl,CCU Netaji S. Chandra,14:20,08:35,"₹ 855,126"

In [46]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.kayak.co.in/flights/LHR,GVA,USM-MAA,DEL,LON/2021-11-26?sort=price_a"
driver.get(url)
time.sleep(6)

In [47]:
#name
name = []

nam = driver.find_elements_by_xpath("//span[@class= 'codeshares-airline-names']")
for i in nam:
    if i.text is None:
        name.append('NAN')
    else:
        name.append(i.text)
        
dep_time = []

dep = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div/span[1]/span")
for i in dep:
    if i.text is None:
        dep_time.append('NAN')
    else:
        dep_time.append(i.text)
        
arr_time = []

arr = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div/span[3]/span")
for i in arr:
    if i.text is None:
        arr_time.append('NAN')
    else:
        arr_time.append(i.text)
    
source = []

dep = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div[2]/div[1]/span")
for i in dep:
    if i.text is None:
        source.append('NAN')
    else:
        source.append(i.text)
        
destination = []

ar = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[2]/div[2]/div[2]/span")
for i in ar:
    if i.text is None:
        destination.append('NAN')
    else:
        destination.append(i.text)
        
stops = []

st = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[3]/div[1]/span[1]")
for i in st:
    if i.text is None:
        stops.append('NAN')
    else:
        stops.append(i.text)
        
duration = []

du = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[1]/div[2]/div/ol/li/div/div/div[4]/div[1]")
for i in du:
    if i.text is None:
        duration.append('NAN')
    else:
        duration.append(i.text)
        
price = []

pri = driver.find_elements_by_xpath("//div[@class= 'resultWrapper']/div[2]/div/div[2]/div/div[2]/div[1]/div/div/div/a/span/span")
for i in pri:
    if i.text is None:
        price.append('NAN')
    else:
        price.append(i.text)

In [48]:
print(len(name),len(dep_time),len(arr_time),len(source),len(destination),len(duration),len(stops),len(price))

753 753 753 753 753 753 753 753

In [49]:
Flight5 = pd.DataFrame({'AirlineName': name,'Stops':stops, 'Duration':duration,'Source': source,'Destination':destination, 'DepartureTime':dep_time, 'ArrivalTime': arr_time,'Price': price})
Flight5

,AirlineName,Stops,Duration,Source,Destination,DepartureTime,ArrivalTime,Price
0,AccesRail,0 changes,0h 50m,LHR Heathrow,LTN Luton,13:30,14:20,"₹ 3,305"
1,"Wizz Air, Ryanair",1 stop,27h 30m,GVA Geneve-Cointrin,STN Stansted,21:15,23:45,"₹ 3,902"
2,Wizz Air,1 stop,11h 35m,GVA Geneve-Cointrin,LTN Luton,21:15,07:50,"₹ 3,937"
3,"Wizz Air, Ryanair",2 stops,16h 20m,GVA Geneve-Cointrin,STN Stansted,21:15,12:35,"₹ 4,573"
4,"Wizz Air, Ryanair",2 stops,27h 10m,GVA Geneve-Cointrin,LTN Luton,21:15,23:25,"₹ 4,655"
...,...,...,...,...,...,...,...,...
748,United Airlines,2 stops,41h 30m,LHR Heathrow,DEL Indira Gandhi Intl,10:25,09:25,"₹ 1,154,916"
749,Air Canada,1 stop,36h 55m,LHR Heathrow,DEL Indira Gandhi Intl,15:00,09:25,"₹ 1,276,588"
750,Air Canada,1 stop,40h 45m,LHR Heathrow,DEL Indira Gandhi Intl,11:10,09:25,"₹ 1,276,588"
751,Austrian Airlines,3 stops,41h 40m,USM Ko Samui,LHR Heathrow,19:40,06:20,"₹ 1,595,550"
752,Austrian Airlines,3 stops,46h 10m,USM Ko Samui,LHR Heathrow,19:40,10:50,"₹ 1,714,796"

In [50]:
f1 = pd.concat([Flight,Flight1], axis = 0)
f2 =  pd.concat([f1,Flight2], axis = 0)
f3 =  pd.concat([f2,Flight3], axis = 0)
f4 =  pd.concat([f3,Flight4], axis = 0)
flight_scrape =  pd.concat([f4,Flight5], axis = 0)

In [51]:
flight_scrape

,AirlineName,Stops,Duration,Source,Destination,DepartureTime,ArrivalTime,Price
0,Air India,direct,2h 30m,BLR Bengaluru Intl,DEL Indira Gandhi Intl,13:20,15:50,"₹ 7,889"
1,Air India,direct,2h 35m,BLR Bengaluru Intl,DEL Indira Gandhi Intl,10:25,13:00,"₹ 6,936"
2,Vistara,direct,2h 35m,BLR Bengaluru Intl,DEL Indira Gandhi Intl,21:10,23:45,"₹ 7,484"
3,SpiceJet,direct,2h 40m,BLR Bengaluru Intl,DEL Indira Gandhi Intl,21:55,00:35,"₹ 7,472"
4,Vistara,direct,2h 40m,BLR Bengaluru Intl,DEL Indira Gandhi Intl,17:50,20:30,"₹ 7,484"
...,...,...,...,...,...,...,...,...
748,United Airlines,2 stops,41h 30m,LHR Heathrow,DEL Indira Gandhi Intl,10:25,09:25,"₹ 1,154,916"
749,Air Canada,1 stop,36h 55m,LHR Heathrow,DEL Indira Gandhi Intl,15:00,09:25,"₹ 1,276,588"
750,Air Canada,1 stop,40h 45m,LHR Heathrow,DEL Indira Gandhi Intl,11:10,09:25,"₹ 1,276,588"
751,Austrian Airlines,3 stops,41h 40m,USM Ko Samui,LHR Heathrow,19:40,06:20,"₹ 1,595,550"
752,Austrian Airlines,3 stops,46h 10m,USM Ko Samui,LHR Heathrow,19:40,10:50,"₹ 1,714,796"

In [56]:
flight_scrape.replace(',','', regex=True, inplace=True)

In [57]:
flight_scrape.replace('₹','', regex=True, inplace=True)

In [58]:
flight_scrape.to_excel("Flight_Price_Dataset.xlsx")