In [1]:
#importing required library
from selenium import webdriver 
import pandas as pd  
import time 
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotVisibleException

Q-1)Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/

You need to find following details: A) Rank B) Name C) Artist D) Upload date E) Views

In [2]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

In [3]:
# Acess the website
url=('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.get(url)
time.sleep(3)

In [5]:
# creating empty list
Rank = []
Name = []
Artist = []
Upload_Date = []
Views = []

In [6]:
# Fetching rank details
rank=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[1]")
for i in rank:
    try:
        Rank.append(i.text.replace(".",""))
    except:
        Rank.append("-")
        
        time.sleep(1)
        
# Fetching name details

name=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[2]")
for i in name:
    try:
        Name.append(i.text)
    except:
        Name.append("-")
        
 # Fetching artist details
       
artist=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[3]")
for i in artist:
    try:
        Artist.append(i.text)
    except:
        Artist.append("-")
        
        time.sleep(1)
        
# Fetching upload details


upload=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[5]")
for i in upload:
    try:
        Upload_Date.append(i.text)
    except:
        Upload_Date.append("-")
        
        time.sleep(1)
        
# Fetching views details


views=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[4]")
for i in views:
    try:
        Views.append(i.text)
    except:
        views.append("-")
        
        time.sleep(1)

In [7]:
#creating a Data Frame
Most_Viewed_Youtube_Videos=pd.DataFrame([])
Most_Viewed_Youtube_Videos["Rank"]=Rank
Most_Viewed_Youtube_Videos["Name"]=Name
Most_Viewed_Youtube_Videos["Artist"]=Artist
Most_Viewed_Youtube_Videos["Upload_Date"]=Upload_Date
Most_Viewed_Youtube_Videos["Views"]=Views

In [8]:
Most_Viewed_Youtube_Videos

,Rank,Name,Artist,Upload_Date,Views
0,1,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",9.20
1,2,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.50
2,3,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.65
3,4,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.43
4,5,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.23
5,6,"""Bath Song""[30]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.47
6,7,"""Learning Colors – Colorful Eggs on a Farm""[31]",Miroshka TV,"February 27, 2018",4.45
7,8,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.45
8,9,"""Uptown Funk""[33]",Mark Ronson,"November 19, 2014",4.27
9,10,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.16
10,11,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",4.10
11,12,"""Dame Tu Cosita""[37]",El Chombo,"April 5, 2018",3.54
12,13,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.54
13,14,"""Sorry""[39]",Justin Bieber,"October 22, 2015",3.46
14,15,"""Roar""[40]",Katy Perry,"September 5, 2013",3.41
15,16,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.37
16,17,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.31
17,18,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.23
18,19,"""Dark Horse""[44]",Katy Perry,"February 20, 2014",3.13
19,20,"""Faded""[45]",Alan Walker,"December 3, 2015",3.12
20,21,"""Girls Like You""[46]",Maroon 5,"May 31, 2018",3.10
21,22,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.09
22,23,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.08
23,24,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.08
24,25,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.06
25,26,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.96
26,27,"""Axel F""[52]",Crazy Frog,"June 16, 2009",2.95
27,28,"""Perfect""[53]",Ed Sheeran,"November 9, 2017",2.93
28,29,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.92
29,30,"""Hello""[55]",Adele,"October 22, 2015",2.87

Q-2)Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

You need to find following details: A) Match title (I.e. 1st ODI) B) Series C) Place D) Date E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [24]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

In [26]:
# Acess the website
url=('https://www.bcci.tv/')
driver.get(url)
time.sleep(3)

In [27]:
# creating empty list
Match_title = []
Series = []
Place = []
Date = []
Time=[]
time.sleep(3)

In [28]:
# Searching to international fixture
international = driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']")
international.click()
time.sleep(2)

In [29]:
fixture = driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a").get_attribute('href')
driver.get(fixture)
time.sleep(2)

In [30]:
# Fetching Match_title details


title=driver.find_elements_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a/div[2]/div[1]/span[2]")
for i in title:
    try:
        Match_title.append(i.text)
    except:
        Match_title.append("-")
        time.sleep(1)
        
        
# Fetching Series details

name_series=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in name_series:
    try:
        Series.append(i.text)
    except:
        Series.append("-")
        time.sleep(1)
        
# Fetching Place details

        
place_name=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place_name:
    try:
        Place.append(i.text)
    except:
        Place.append("-")
        time.sleep(1)
        
        
  # Fetching Date_time details
date = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/span')
month = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/div/span[1]')
for i in range(len(date)):
    Date.append(date[i].text+month[i].text)
time = driver.find_elements_by_xpath('//div[@class="fixture__full-date"]/div/span[2]')
for i in time:
    Time.append(i.text)

In [33]:
#creating Data Frame
India_international_fixtures=pd.DataFrame([])
India_international_fixtures["Match_Title"]=Match_title
India_international_fixtures["Series"]=Series
India_international_fixtures["Place"]=Place
India_international_fixtures["Date"]=Date
India_international_fixtures["Time"]=Time

In [34]:
India_international_fixtures

,Match_Title,Series,Place,Date,Time
0,ENGLAND V INDIA 2021,4th Test,"The Oval, London",02SEPTEMBER,15:30 IST
1,ENGLAND V INDIA 2021,5th Test,"Old Trafford, Manchester",10SEPTEMBER,15:30 IST
2,2021 ICC MEN'S T20 WORLD CUP,Match 16,"Dubai International Cricket Stadium, Dubai",24OCTOBER,19:30 IST
3,2021 ICC MEN'S T20 WORLD CUP,Match 28,"Dubai International Cricket Stadium, Dubai",31OCTOBER,19:30 IST
4,2021 ICC MEN'S T20 WORLD CUP,Match 33,"Sheikh Zayed Cricket Stadium, Abu Dhabi",03NOVEMBER,19:30 IST
5,2021 ICC MEN'S T20 WORLD CUP,Match 37,"Dubai International Cricket Stadium, Dubai",05NOVEMBER,19:30 IST
6,2021 ICC MEN'S T20 WORLD CUP,Match 42,"Dubai International Cricket Stadium, Dubai",08NOVEMBER,19:30 IST

Q-3) Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [2]:
#importing required library
from selenium import webdriver 
import pandas as pd  
import time 
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotVisibleException

In [58]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

In [59]:
# Acess the website
url=("https://www.guru99.com/")
driver.get(url)
time.sleep(3)

In [60]:
# creating empty list
Name = []
Description = []

In [61]:
# Selecting selenium topic
driver.find_element_by_xpath("//*[@id='java_technologies']/li[3]/a").click()
time.sleep(3)

search_ex=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
search_ex.click()

In [65]:
exc = driver.find_elements_by_xpath("//table[@class= 'table table-striped']//tbody//tr//td")

name = []
for i in exc:
    name.append(i.text)    
name[2:]

Name = []
for i in range(0,len(name[2:]),2):
    Name.append(name[2:][i])
Name

for i in range(1,len(name[2:]),2):
    Description.append(name[2:][i])
Description

['This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 'Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 'It occurs when command can’t be finished when the element is invalid.',
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 'This occurs when remote WebDriver does n’t send valid commands as expected.']

In [66]:
#creating the Data Frame
Selenium_Exception= pd.DataFrame([])
Selenium_Exception['Exception']=Name
Selenium_Exception['Description']=Description
Selenium_Exception

,Exception,Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [77]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

In [78]:
# Acess the website
url=("http://statisticstimes.com/")
driver.get(url)
time.sleep(2)

In [81]:
#clicking the economy drop down
eco_button=driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/button")
eco_button.click()
time.sleep(2)

In [82]:
#clicking the india button
india_button=driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[3]").click()

In [83]:
#clicking the State gdp
state_gdp=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [84]:
#creating empty list
Rank=[]
State=[]
GSDP_19_20=[]
GSDP_18_19=[]
Share_2019=[]
GDP_USD_billion=[]

In [85]:
time.sleep(3)

# Fetching rank details


position = driver.find_elements_by_xpath('//td[@class="data1"]')
for i in position:
    try:
        Rank.append(i.text)
    except:
        Rank.append('-')
        time.sleep(1)
        
        
# Fetching State details

        
state = driver.find_elements_by_xpath('//td[@class="name"]')
for i in state:
    try:
        State.append(i.text)
    except:
        State.append('-')
        
        
        time.sleep(1)
        
 # Fetching 19-20 details

        
year_19_20 = driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[3]")
for i in year_19_20:
    try:
        GSDP_19_20.append(i.text)
    except:
        GSDP_19_20.append('-')
        
        time.sleep(1)
        
# Fetching year18-19 details

        
year_18_19 = driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[4]")
for i in year_18_19:
    try:
        GSDP_18_19.append(i.text)
    except:
        GSDP_18_19.append('-')
        
        time.sleep(1)
        
# Fetching Share_2019 details

        
share = driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[5]')
for i in share:
    try:
        Share_2019.append(i.text)
    except:
        Share_2019.append('-')
        
        time.sleep(1)
        
        
# Fetching billions details

        
billion = driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[6]')
for i in billion:
    try:
        GDP_USD_billion.append(i.text)
    except:
        GDP_USD_billion.append('-')
        
        time.sleep(1)

In [86]:
#creating a dataframe
GDP_of_India=pd.DataFrame([])
GDP_of_India["Rank"]=Rank[:33]
GDP_of_India["State"]=State[:33]
GDP_of_India["GSDP_19_20"]=GSDP_19_20[:33]
GDP_of_India["GSDP_18_19"]=GSDP_18_19[:33]
GDP_of_India["Share_2019"]=Share_2019[:33]
GDP_of_India["GDP_USD_billion"]=GDP_USD_billion[:33]

In [87]:
GDP_of_India

,Rank,State,GSDP_19_20,GSDP_18_19,Share_2019,GDP_USD_billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

Q-5) Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details: A) Repository title B) Repository description C) Contributors count D) Language used Note: - From the home page you have to click on the trending option from Explore menu through code.

In [130]:
#importing required library
from selenium import webdriver # To access the browser and website
import pandas as pd  # To format the strutured data
import time # To pause/hold the step by step process

# EXception lib
from selenium.common.exceptions import NoSuchElementException

In [181]:
driver = webdriver.Chrome("chromedriver.exe")

In [182]:
url='https://github.com/'
driver.get(url)

In [183]:
explore_button=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
explore_button.click()

In [184]:
trend_opt = driver.find_element_by_xpath("//ul[@class='list-style-none mb-3'][2]/li[3]/a")
trend_opt.click()

In [185]:
# Create empty list
Repository_title = []
Repository_description= []
Contributors_count= []
Language_used= []

In [186]:
#Fetaching repository title detail
repository=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/h1/a")
for i in repository:
    try:
        Repository_title.append(i.text)
    except:
        Repository_title.append("-")
        
#creating  description detail
repo_desc=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/p")
for i in repo_desc:
    try:
        Repository_description.append(i.text)
    except:
        Repository_description.appens("-")
        
#Fethching  contributor detail
contributor=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/div[2]/a[2]")
for i in contributor:
    try:
        Contributors_count.append(i.text)
    except:
        Contributors_count.append("-")

#Featching repository language detail
lang=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/div[2]/span[1]/span[2]")
for i in lang:
    try:
        Language_used.append(i.text)
    except:
        Language_used.append("-")

In [188]:
#creating a data frame
Trending_repositories=pd.DataFrame([])
Trending_repositories["Repository_title"]=Repository_title[0:24]
Trending_repositories["Repository_description"]=Repository_description[0:24]
Trending_repositories["Contributors_count"]=Contributors_count[0:24]
Trending_repositories["Language_used"]=Language_used[0:24]

In [134]:
Trending_repositories

,Repository_title,Repository_description,Contributors_count,Language_used
0,jina-ai / jina,Cloud-native neural search framework for 𝙖𝙣𝙮 k...,"1,103",Python
1,TheAlgorithms / C-Plus-Plus,Collection of various algorithms in mathematic...,"3,992",C++
2,netbox-community / netbox,Infrastructure resource modeling for network a...,"1,582",Python
3,CyberPunkMetalHead / binance-trading-bot-new-c...,This Binance trading bot detects new coins as ...,85,Python
4,ClassmateLin / jd_scripts,Scripts,205,Python
5,coqui-ai / TTS,🐸💬 - a deep learning toolkit for Text-to-Speec...,180,Jupyter Notebook
6,madebygps / self-taught-guide-to-cloud-computing,Self-taught guide to cloud computing.,213,Python
7,TencentARC / GFPGAN,GFPGAN aims at developing Practical Algorithms...,332,Rust
8,solana-labs / solana,"Web-Scale Blockchain for fast, secure, scalabl...",668,Shell
9,myspaghetti / macos-virtualbox,"Push-button installer of macOS Catalina, Mojav...",823,PHP
10,nextcloud / server,"☁️ Nextcloud server, a safe home for all your ...","2,714",JavaScript
11,HashLips / generative-art-opensource,Create generative art by using the canvas api ...,26,JavaScript
12,discordjs / discord.js,A powerful JavaScript library for interacting ...,"2,871",CSS
13,primefaces / primeng,The Most Complete Angular UI Component Library,"3,524",Python
14,xinntao / Real-ESRGAN,Real-ESRGAN aims at developing Practical Algor...,70,HTML
15,cckuailong / vulbase,各大漏洞文库合集,85,JavaScript
16,TheAlgorithms / Javascript,A repository for All algorithms implemented in...,"2,272",Rust
17,metaplex-foundation / metaplex,The Metaplex protocol,761,C#
18,lucent-sea / Remotely,A remote control and remote scripting solution...,698,JavaScript
19,HashLips / generative-art-node,Create generative art by using the canvas api ...,113,JavaScript

Q-6)Scrape the details of top 100 songs on billboard.com. Url = https://www.billboard.com/ You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [175]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

In [176]:
# Acess the website
Url = 'https://www.billboard.com/'
driver.get(Url)
time.sleep(2)

In [177]:
#creating empty list
Song_Name=[]
Artist_Name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_Charts=[]

In [178]:
#clicking the Charts button
charts=driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/nav/ul/li[6]/a')
charts.click()
time.sleep(2)

In [179]:
#clicking the HOT 100 button
hot100=driver.find_element_by_xpath('//div[@class="three-sixty-bar-detailed-card__image-title font--bold text--uppercase"]')
hot100.click()
time.sleep(1)

In [180]:
#Fetching  song name 
name=driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for i in name:
    try:
        Song_Name.append(i.text)
    except:
        Song_Name.append("-")

        time.sleep(1)
        
#Fetching  Artist name detail
artist=driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for i in artist:
    try:
        Artist_Name.append(i.text)
    except:
        Artist_Name.append("-")

        time.sleep(1)
            
#Fetching  last week detail
last_week=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for i in last_week:
    try:
        Last_week_rank.append(i.text)
    except:
        Last_week_rank.append("-")

        time.sleep(1)
        
#Fetching peak rank detail
peak=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for i in peak:
    try:
        Peak_rank.append(i.text)
    except:
        Peak_rank.append("-")

        time.sleep(1)
        
        
#Fetching weeks on charts detail
charts=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for i in charts:
    try:
        Weeks_on_Charts.append(i.text)
    except:
        Weeks_on_Charts.append("-")

        time.sleep(2)

In [142]:
#creating the data frame
Top_100_songs=pd.DataFrame([])
Top_100_songs["Song_Name"]=Song_Name
Top_100_songs["Artist_Name"]=Artist_Name
Top_100_songs["Last_week_rank"]=Last_week_rank
Top_100_songs["Peak_rank"]=Peak_rank
Top_100_songs["Weeks_on_Charts"]=Weeks_on_Charts

In [143]:
Top_100_songs

,Song_Name,Artist_Name,Last_week_rank,Peak_rank,Weeks_on_Charts
0,Stay,The Kid LAROI & Justin Bieber,1,1,7
1,Bad Habits,Ed Sheeran,2,2,9
2,Good 4 U,Olivia Rodrigo,3,1,15
3,Kiss Me More,Doja Cat Featuring SZA,5,3,20
4,Industry Baby,Lil Nas X & Jack Harlow,7,2,5
...,...,...,...,...,...
95,Tick Tock,Young Thug,-,96,1
96,Permission To Dance,BTS,66,1,7
97,AM,Nio Garcia X J Balvin X Bad Bunny,85,41,9
98,Time Heals,Rod Wave,-,99,1
99,Thinking 'Bout You,Dustin Lynch Featuring Lauren Alaina Or MacKen...,91,91,2

Q-7). Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/ You have to find the following details: A) Name B) Designation C) Company D) Skills they hire for E) Location Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [199]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

In [213]:
# Acess the website
Url = 'https://www.naukri.com/'
driver.get(Url)
time.sleep(2)

In [214]:
#clicking the recruiters button
recruiters=driver.find_element_by_xpath('//a[@title="Search Recruiters"]').get_attribute('href')
driver.get(recruiters)
time.sleep(2)

In [215]:
# Searching Datascience position in recruiter page
search_box = driver.find_element_by_xpath("//div[@class='sWrap lftBrd']/div[2]/input")
search_box.send_keys("Data science")
time.sleep(2)

In [216]:
search_btn = driver.find_element_by_id("qsbFormBtn")
search_btn.click()
time.sleep(2)

In [217]:
#creating empty list
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

In [218]:
# Fetching Name detail
name= driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
for i in name:
    try:
        Name.append(i.text)
    except:
        Name.append('-')
        
        time.sleep(1)
# Fetching Designation detail
place= driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for i in place:
    try:
        Designation.append(i.text)
    except:
        Designation.append('-')
        
        time.sleep(1)
        
# Fetching Company detail
Organisation= driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
for i in Organisation:
    try:
        Company.append(i.text)
    except:
        Company.append('-')
        
        time.sleep(1)
# Fetching skills detail
roll= driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for i in roll:
    try:
        Skills.append(i.text)
    except:
        Skills.append('-')
        
        time.sleep(1)
        
        
# Fetching Location detail
location= driver.find_elements_by_xpath('//small[@class="ellipsis"]')
for i in location:
    try:
        Location.append(i.text)
    except:
        Location.append('-')
        
        time.sleep(1)

In [219]:
#creating the Data Frame
Data_scientist_recruiters=pd.DataFrame({})
Data_scientist_recruiters["Name"]=Name[:48]
Data_scientist_recruiters["Designation"]=Designation[:48]
Data_scientist_recruiters["Company"]=Company[:48]
Data_scientist_recruiters["Skills"]=Skills[:48]
Data_scientist_recruiters["Location"]=Location[:48]

In [220]:
Data_scientist_recruiters

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
25,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
26,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
27,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
28,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
29,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
32,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Ghaziabad
33,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Bengaluru / Bangalore
34,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Noida
35,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai

Q-8) Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/ You have to find the following details: A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [153]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

In [154]:
# Acess the website
Url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(Url)
time.sleep(2)

In [155]:
#creating empty list
Book_Name=[]
Author_Name=[]
Volumes_Sold=[]
Publisher=[]
Genre=[]

In [156]:
#Fetching book name detail
bookname=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]")
for i in bookname:
    try:
        Book_Name.append(i.text)
    except:
        Book_Name.append("-")
        
#Fetching author name detail
authorname=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")
for i in authorname:
    try:
        Author_Name.append(i.text)
    except:
        Author_Name.append("-")
        
#Fetching volumes sold detail
volumesold=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]")
for i in volumesold:
    try:
        Volumes_Sold.append(i.text)
    except:
        Volumes_Sold.append("-")
        
#Fetching publisher detail
publisher=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]")
for i in publisher:
    try:
        Publisher.append(i.text)
    except:
        Publisher.append("-")
        
#Fetching genre detail
genre=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]")
for i in genre:
    try:
        Genre.append(i.text)
    except:
        Genre.append("-")

In [157]:
#creating Data Frame
Highest_selling_novels=pd.DataFrame([])
Highest_selling_novels["Book_Name"]=Book_Name
Highest_selling_novels["Author_Name"]=Author_Name
Highest_selling_novels["Volumes_Sold"]=Volumes_Sold
Highest_selling_novels["Publisher"]=Publisher
Highest_selling_novels["Genre"]=Genre

In [158]:
Highest_selling_novels

,Book_Name,Author_Name,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q-9). Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [221]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

In [222]:
# Acess the website
url = ('https://www.imdb.com/list/ls095964455/')
driver.get(url)

In [223]:
# Create Empty list
Name =[]
Year_span = []
Genre= []
Run_Time= []
Ratings= []
Votes = []

In [224]:
#Fetching  name list
name=driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div[2]/h3/a")
for i in name:
    try:
        Name.append(i.text)
    except:
        Name.append("-")
        
        
year=driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for i in year:
    try:
        Year_span.append(i.text)
    except:
        Year_span.append("-")
        
genre=driver.find_elements_by_xpath('//span[@class="genre"]')
for i in genre:
    try:
        Genre.append(i.text)
    except:
        Genre.append("-")
        
run=driver.find_elements_by_xpath('//span[@class="runtime"]')
for i in run:
    try:
        Run_Time.append(i.text)
    except:
            Run_Time.append("-")
        
ratings=driver.find_elements_by_xpath("//div[@class ='ipl-rating-star small']/span[2]")
for i in ratings:
    try:
        Ratings.append(i.text)
    except:
        Ratings.append("-")
        
votes=driver.find_elements_by_xpath('//span[@name="nv"]')
for i in votes:
    try:
        Votes.append(i.text)
    except:
        Votes.append("-")

In [225]:
#creating Data frame
Most_watched_tv_series=pd.DataFrame({})
Most_watched_tv_series["Name"]=Name
Most_watched_tv_series["Year_Span"]=Year_span
Most_watched_tv_series["Genre"]=Genre
Most_watched_tv_series["Run_Time"]=Run_Time
Most_watched_tv_series["Ratings"]=Ratings
Most_watched_tv_series["Votes"]=Votes

In [226]:
Most_watched_tv_series

,Name,Year_Span,Genre,Run_Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,865,267"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"901,007"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"893,459"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"268,988"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"229,205"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,439"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,304"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"174,040"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,428"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"197,896"

Q-10)Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year Note: - from the home page you have to go to the Show All Dataset page through code

In [227]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

In [228]:
# Acess the website
url = ('https://archive.ics.uci.edu/')
driver.get(url)

In [229]:
#clicking the viewall data-set button
viewall = driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/span/b/a')
viewall.click()

In [230]:
#creating the empty list
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attributes=[]
Year=[]

In [231]:
#Fetching name detail

name = driver.find_elements_by_xpath("//p[@class='normal']/b/a")
for i in name:
    try:
        Dataset_name.append(i.text)
    except:
        Dataset_name.append('-') 
        
#Fetching datatype detail
        
dtype = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p')
for i in dtype:
    try:
        Data_type.append(i.text)
    except:
        Data_type.append('-') 
 #Fetching task detail
       
default_task = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')
for i in default_task:
    try:
        Task.append(i.text)
    except:
        Task.append('-')

#Fetching Attribute_type detail
        
Attritype = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p')
for i in Attritype:
    try:
        Attribute_type.append(i.text)
    except:
        Attribute_type.append('-') 
        
#Fetching Attribute_type detail   

instances = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')
for i in instances:
    try:
        No_of_instances.append(i.text)
    except:
        No_of_instances.append('-') 
        
attributes = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')
for i in attributes:
    try:
        No_of_attributes.append(i.text)
    except:
        No_of_attributes.append('-') 
   #Fetching year detail     
year = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')
for i in year:
    try:
        Year.append(i.text)
    except:
        Year.append('-')

In [233]:
#creating Data Frame
Details_of_Datasets=pd.DataFrame([])
Details_of_Datasets["Dataset_name"]=Dataset_name[:588]
Details_of_Datasets["Data_type"]=Data_type[:588]
Details_of_Datasets["Task"]=Task[:588]
Details_of_Datasets["Attribute_type"]=Attribute_type[:588]
Details_of_Datasets["No_of_instances"]=No_of_instances[:588]
Details_of_Datasets["No_of_attributes"]=No_of_attributes[:588]
Details_of_Datasets["Year"]=Year[:588]

In [234]:
Details_of_Datasets

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attributes,Year
0,Abalone,Data Types,Default Task,Attribute Types,# Attributes,# Attributes,Year
1,Adult,Multivariate,Classification,"Categorical, Integer, Real",8,8,1995
2,Annealing,Multivariate,Classification,"Categorical, Integer",14,14,1996
3,Anonymous Microsoft Web Data,Multivariate,Classification,"Categorical, Integer, Real",38,38,
4,Arrhythmia,,Recommender-Systems,Categorical,294,294,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,"Integer, Real",17,17,2020
584,Gait Classification,Multivariate,Classification,,23,23,2020
585,Wikipedia Math Essentials,Multivariate,Classification,Real,321,321,2020
586,Wikipedia Math Essentials,Time-Series,Regression,Real,1068,1068,2021
587,Synchronous Machine Data Set,Time-Series,Regression,Real,1068,1068,2021